.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing:grayscale;

    transition: transform 0,5 ease;

}
.card-container:hover{
    transform: scale(1.02);
}